:root {
	--background: #111;
	--text: #fff;
}

@media (prefers-color-scheme: lightest) {
	:root {
		--background: #bbb;
		--text: #111;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--background: #eee;
		--text: #111;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #333;
		--text: #fff;
	}
}

body {
	color: white;
	padding: 0 20px;
	font-size: 62.5%;
	width: 100vw;
	height: 100vh;
}

sp-button {
	cursor: pointer;
}

sp-link {
	text-decoration: none;
}

sp-textfield {
	width: 100%;
}

sp-label {
	font-size: 1rem;
	color: white;
}

sp-action-button {
	margin: 0.5rem 0;
}
