.plugins__page {
	margin-top: 3rem;
}

.plugins__group {
	border-radius: 0.5rem;
	background-color: var(--background);
	padding: 1rem;
	margin-bottom: 1.5rem;
}

.plugins__heading {
	width: 100%;
	text-align: center;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

.plugins__button {
	text-align: center;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}

.plugins__login {
	margin-top: 0.5rem;
	width: 100%;
}

.plugins__error {
	display: none;
	margin-top: 0.4rem;
	color: red;
}

.toggle {
	width: 100%;
	margin-top: 3rem;
	flex-direction: column;
	display: none;
	justify-content: center;
	align-items: center;
}
